body {
	background-image: url("media/day.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 3s ease-in-out;
	backdrop-filter: blur(0px);
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
}

div.container {
	background-color: rgba(255, 255, 255, 0);
	border-radius: 15px;
	margin: 50px auto 0px;
	max-height: 550px;
	max-width:650px;
	text-align:center;
}

div.row {
	background-color: rgba(0, 0, 0, 0.3);
	color: rgba(255, 255, 255, 0.8);
	padding: 30px;
}

.clock {
	font-size: 40px;
}

.date {
	font-size:20px;
}

.city {
	padding-top:30px;
}

#cityInput {
	background: rgba(89, 89, 89, 0.5);
	border:none;
}

button {
	background: rgba(89, 89, 89, 0.5);
	color: rgba(255, 255, 255, 0.7);
	font-size: 15px;
	margin: 5px 0px;
	padding: 5px 15px;
	transition: all 50ms ease-in-out;
	box-shadow: rgba(37, 39, 89, 0.08) 0px 20px 20px 20px;
	border-radius: 50px;
	border: none;
	cursor: pointer;
}

button:hover {
	color: rgba(0, 0, 0, 0.4);
}

.icon img {
	display:inline;
	text-align: left;
	vertical-align: middle;
	height:75px;
	width: auto;
	padding:0;
	margin:0;
}

.temperature {
	display:inline;
	font-size: 40px;
	margin-bottom: 0px;
	vertical-align:middle;
}

.met-description {
	font-size: 20px;
	padding-bottom: 10px;
}

.met-description:first-letter {
	text-transform: uppercase;
}

div.detailsCard {
	text-align: center;
	padding: 15px 15px 15px 30px;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}

div.hiloResult, .windResult, .humidityResult {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	font-size: 20px;
	padding-bottom:20px;
}

div.hiloIcon, .windIcon, .humidityIcon {
	font-size: 25px;
	padding: 15px;
}

div.forecastCard {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	font-size: 12px;
	padding: 10px;
}

p {
	color: white;
	opacity: 0.8;
	font-size: 15px;
	padding:10px;
}