body {
	background-image: url("media/night.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 3s ease-in-out;
	backdrop-filter: blur(0px);
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
}

div.container {
	background-color: rgba(255, 255, 255, 0);
	border-radius: 15px;
	margin: 100px auto 0px;
	max-height: 550px;
	max-width:650px;
	text-align:center;
}

div.row {
	background-color: rgba(0, 0, 0, 0.3);
	color: rgba(255, 255, 255, 0.8);
	border-radius: 15px;
	padding: 30px;
}

.clock {
	font-size: 40px;
}

.date {
	font-size:20px;
}

.city {
	padding-top:30px;
}

#cityInput {
	background: rgba(89, 89, 89, 0.5);
	border:none;
}

button {
	background: rgba(89, 89, 89, 0.5);
	color: rgba(255, 255, 255, 0.7);
	font-size: 15px;
	margin: 5px 0px;
	padding: 5px 15px;
	transition: all 50ms ease-in-out;
	box-shadow: rgba(37, 39, 89, 0.08) 0px 20px 20px 20px;
	border-radius: 50px;
	border: none;
	cursor: pointer;
}

button:hover {
	color: rgba(0, 0, 0, 0.4);
}

.icon {
	display:inline;
	text-align: left;
	vertical-align: middle;
	width: auto;
	padding:0;
	margin:0;
}

.temperature {
	display:inline;
	font-size: 55px;
	margin-bottom: 0px;
	vertical-align:middle;
}

.met-description {
	font-size: 20px;
	padding-bottom: 20px;
}

.met-description:first-letter {
	text-transform: uppercase;
}

div.detailsCard {
	text-align: center;
	padding: 15px 15px 15px 30px;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}

div.detailsCardTop {
	font-size: 25px;
	padding: 15px;
}

div.detailsCardBottom {
	font-size: 20px;
	padding-bottom:20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

p {
	color: white;
	opacity: 0.8;
	font-size: 15px;
	padding:10px;
}

/*
div.forecastCard {
	color: rgba(0, 0, 0, 0.9);
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 0px 15px 15px 0px;
	height: 550px;
	display: inline;
}

li {
	list-style-type: none;
	height:150px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	padding: 10px; for distance from border underline 
}

ul {
	padding: 20px 40px; for distance from container edge 
}

div.icon {
	text-align: left;
	vertical-align: middle;
	height: 20px;
	width: auto;
	padding:0;
	margin:0;

}
div.met {
	text-align: right;
}
div.temp {
	font-size: 30px;
	text-align: right;
}
div.date {
	text-align: right;
	padding-bottom:30px;
}